* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/images/body-background.jpg");
    background-size: 45%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #eb9834 ;
    background-size: cover;
    background-attachment: fixed;
    z-index: 9999;
    margin: 5% 5% 0 5%;
}

.logo img {
    width: 125px;
    height: 100px;
    margin-top: 18px;
    margin-left: 50px;
    position: relative;
}

header a {
    text-decoration: none;
    color: #09508a;
    display: inline-block;
}

header nav {
    text-align: center;
    margin: 7px 0;
    position: relative;
    top: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
header nav ul li a {
    padding: 13px 20px;
    font-weight: lighter;
    font-size: 4vw;
  }

header nav ul li a:hover {
    color:#249bfc;
    text-shadow: none;
    transform: scale(1.1);
  }

.portfolio {
    background: #249bfc;
    margin: 0 5%;
}

.portfolio h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.description {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 35px;
    background: #eb9834;
    border: #249bfc;
    border-radius: 10px;
}

.pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.examples img {
    height: 400px;
    width: auto;
    border-style: solid;
    border-width: 10px;
    border-color: #09508a;
    border-radius: 6px;
}

.examples #first-project {
    width: 1021.43px;
    height: 500px;
    display: block;
}

.me {
    background: #249bfc;
    margin: 0 5%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.me h2 {
    font-size: 50px;
}

.me p {
    font-size: 25px;
}

#resume {
    background: #249bfc;
    margin: 0 5%;
}

#resume h2 {
    text-align: center;
    font-size: 50px;
}

iframe {
    margin: auto;
    display: block;
    width: 800px;
    height: 500px;
}

footer {
    background: #eb9834;
    margin: 0 5% 5% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 50px;
    padding-left: 30px;
}

footer ul {
    list-style: none;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
}

footer ul li a {
    padding: 13px 20px;
    color: #249bfc;
}